@import "fontella.css";

@font-face {
    font-family: 'Fontello';
    src: url('fonts/fontello.woff');
    src: url('fonts/fontello.eot');
    src: url('fonts/fontello.svg');
    src: url('fonts/fontello.eot');
    font-weight: normal;
    font-style: normal;
}
